<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'projects', projects_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'clients', clients_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
